/* .navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
} */
.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-brand {
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #5345cb;
}
.brand-icon {
  height: 30px;
}

.login,
.signup {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
