<div id="main-content" class="container">
  <!-- first row-first -->
  <div class="row row-first mt-lg-5 mt-sm-5">
    <!-- left column -->
    <div class="left-col col-lg-7 col-md-7 col-sm-12 col-xs-12">
      <p class="first-line">Connect with a Doctor</p>
      <p class="second-line">Anytime & Anywhere</p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quidem
        recusandae eveniet? In quisquam debitis, iste quaerat quae maxime
        asperiores nulla iusto quia error porro minus sunt reiciendis, modi
        vitae Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
        quidem recusandae eveniet? In quisquam debitis, iste quaerat quae maxime
        asperiores nulla iusto quia error porro minus sunt reiciendis, modi
        vitae.
      </p>

      <button
        type="button"
        class="book-appointment-btn btn btn-primary px-4 py-2"
      >
        Book Appointment
      </button>
    </div>
    <!-- right column -->
    <div
      class="right-col d-flex justify-content-center align-items-center col-lg-5 col-md-5 col-sm-12 col-xs-12"
    >
      <div
        class="satisfied-customers py-2 px-3 bg-white border border-light rounded"
      >
        <div class="total-customers pb-2 text-center fw-semibold">
          50K+ Customers
        </div>
        <div class="doctor-profiles">
          <img src="../../../assets/images/doctor-1.avif" alt="" />
          <img src="../../../assets/images/doctor-2.jpg" alt="" />
          <img src="../../../assets/images/doctor-3.avif" alt="" />
          <img src="../../../assets/images/doctor-4.jpg" alt="" />
          <img src="../../../assets/images/plus-4.png" alt="" />
        </div>
      </div>
      <div
        class="doctor-connect py-2 px-2 bg-white border border-light rounded"
      >
        <img src="../../../assets/images/video-call.jpg" alt="" />
        <p class="my-1 fw-semibold text-center">Connect Doctor</p>
        <p class="mb-0 text-center">Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="right-col-img">
        <img src="../../../assets/images/doctor.jpg" alt="" class="w-100" />
      </div>
    </div>
  </div>

  <!-- second row -->
  <!-- <div class="row row-second bg-success">salkfladsnflk</div> -->
</div>
